<div class="side-bar-header">
  <div class="header-name">
     <%= link_to current_user.name , edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">コメントを作成する</a>
  </div>
  <div class= "new-room">
  <%# <a href="new_user_registration_path">新規登録</a> %>
  </div>
</div>

<div class="rooms">
</div>