<div class="side-bar-header">
 <div class="header-title">
      side
    </div>
</div>

<div class="rooms">
  <div class="header-name">
    <%= link_to current_user.name , edit_user_path(current_user) %>
  </div>
   <div class="header-out">
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
   </div>
 <div class="room">
     <div class="room-name">
      <%# <div  class=皆で投稿しよう</a> %>
      <%= link_to "新規投稿", new_comment_path, class: 'btn'%>
    </div> 
  </div>
  <div class="room">
    <%# <div class="room-name">
      <a href="#">techroom2</a>
    </div>  %>
    <%# <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div> 
  <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>  %>
  </div>
</div>