<div class="side-bar-header">
 <div class="header-title">
      side
    </div>
</div>

 <div class="rooms">
  <div class="header-name">
    <%= link_to current_user.name , edit_user_path(current_user) %>
  </div>
   <div class="header-out">
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
   </div>
 <div class="room">
     <div class="room-name">
      <%= link_to "新規投稿", new_comment_path, class: 'btn'%>
    </div> 
  </div>
  <div class="room">
  </div>
</div>